@{
    ViewBag.Title = "PesanTiket .NET";
}

<div class="jumbotron text-center">
    <h1 class="display-4" id="judul_header">PesanTiket .NET</h1>
    <p class="display-6 mb-1">Powered by: <img src="~/Images/makers.png" height="18" width="145" style="margin: 2px 0 5px 0"></p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h3>Banyak Pilihan Rute!</h3>
        <img src="~/Images/Pesawat.png" height="200" style="margin: 2px 0 5px 0">
        <p>
            Rute Pesawat di PesanTiket .NET banyak pilihannya! Membuat kamu lebih mudah
            untuk memilih tujuan manapun yang kamu mau.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52170/Rute/Index">Lihat Rute &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Pesan Tiket Lebih Mudah!</h3>
        <img src="~/Images/Tiket.png" height="200" style="margin: 2px 0 5px 0">
        <p>
            Nikmati kemudahan memesan tiket pesawat hanya dengan beberapa kali klik!
            Tidak perlu ribet ke toko waralaba, apalagi bandara.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52170/Pemesanan/Index">Pesan Sekarang &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Banyak Pilihan Maskapai!</h3>
        <img src="~/Images/logo.png" height="200" style="margin: 2px 0 5px 0" style="margin-right: 1000px">
        <p>
            Bingung mau naik maskapai apa? Cek saja di PesanTiket .NET,
            ada banyak maskapai yang bisa kamu pilih! Ditambah lagi, ada informasi
            pilot!
        </p>
        <p><a class="btn btn-default" href="http://localhost:52170/Pesawat/Index">Cek Maskapai &raquo;</a></p>
    </div>

</div>